
body {
    background: rgb(31, 31, 31);
    color: #fff; }
  
    .jumbotron ,.card ,.breadcrumb , .modal-body{
        background: rgb(75, 75, 75);
    }

    .jumbotron li{
        list-style: none;
        border-left: #008fd65b 2px solid;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .modal-content{
        border: #008fd65b 2px solid;
        background: #383838d3;
    }

    .modal-content .close {
        color: rgba(235, 209, 209, 0.87);
    }

    .modal{
        background: #00000067;
    }


.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
    height: 40pt;
    background: #2c2c2c;
}
  
@media (max-width: 576px) {
    nav .container {
      width: 100%; 
    } 
}


.dark {
    padding: .30em;
    background: rgba(24, 18, 18, 0.76);
    color: rgba(235, 209, 209, 0.87);
}

.danger {
    padding: .30em;
    background:  rgba(128, 0, 0, 0.548);
    color: rgba(235, 209, 209, 0.87);
}

.padding  {
    display: block;
    padding: .5em;
}

.statusOpacity-enter {
    opacity: 0.01;
}

.statusOpacity-enter-active{
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.statusOpacity-exit{
    opacity: 1;
}

.statusOpacity-exit-active{
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
}

.circle {
    border-radius: 50%;
    border: #008fd65b 2px solid;
}

.card .profile {
    width: 6rem;
    height: 6rem;
}